div.background
        { 
            position:absolute;
        }
        table
        {
            border-spacing: 0;
            border-collapse: collapse;
        }
        td, th
        {
            padding: 0;
        }
        div.transbox
        {
            height: 300px;
            width: 400px;
            margin-left: 28%;
            margin-top: 7%;
            position: fixed;
            display: block;
            background: transparent;
            background: rgba(255, 255, 255, 0.5) !important;
            background-attachment: fixed;
            
            opacity: 1.8;
        }
        
        div.transbox p
        {
            margin: 5%;
            font-weight: bold;
            color: black;
        }
        
        .form-bottom
        {
            padding: 25px 25px 30px 25px;
            background: #eee;
            -moz-border-radius: 0 0 4px 4px;
            -webkit-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
            text-align: left;
        }
        .form-top
        {
            overflow: hidden;
            padding: 0 25px 15px 25px;
            background: #fff;
            -moz-border-radius: 4px 4px 0 0;
            -webkit-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
            text-align: left;
        }
        .form-top-left
        {
            float: left;
            width: 75%;
            padding-top: 25px;
        }
        .form-top-left h3
        {
            margin-top: 0;
        }
        .form-top-right
        {
            float: left;
            width: 25%;
            padding-top: 5px;
            font-size: 66px;
            color: #ddd;
            line-height: 100px;
            text-align: right;
        }
        .fa
        {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
        }
        .sr-only
        {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
        }
        input[type="text"], input[type="password"], textarea, textarea.form-control
        {
            height: 50px;
            margin: 0;
            padding: 0 20px;
            vertical-align: middle;
            background: #f8f8f8;
            border: 3px solid #ddd;
            font-family: 'Roboto' , sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 50px;
            color: #888;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            -o-transition: all .3s;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;
            -ms-transition: all .3s;
            transition: all .3s;
        }
        .form-bottom form button.btn
        {
            width: 100%;
        }
        button.btn
        {
            height: 50px;
            margin: 0;
            padding: 0 20px;
            vertical-align: middle;
            background: #de995e;
            border: 0;
            font-family: 'Roboto' , sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 50px;
            color: #fff;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            text-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            -o-transition: all .3s;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;
            -ms-transition: all .3s;
            transition: all .3s;
        }